<article>
    <!--<form #calculForm="ngForm" (ngSubmit)="onSubmitForm(calculForm)">-->
        
        <label for="distanceInput">Distance en km</label>
        <input id="distanceInput" name="distance"  value="{{distance$ | async}}" readonly>

        <label for="durationInput">Temps en heures</label>
        <input id="durationInput" name="duration"  value="{{duration$ | async}} heures" readonly>
    
        <label for="nbRechargeInput">Nombre de recharge</label>
        <input id="nbRechargeInput" name="nbRecharge"  value="{{nbRecharge$ | async}}" readonly>
    <!--
        <button type="submit">Calculer</button>
    </form>-->

</article>
