.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.one {
    grid-column: 1 / 3;
}

.two {
    grid-column: 3;
}

@media only screen and (max-width: 576px) {
    .one, .two {
        grid-column: 1;
    }

    .two {
        padding-top: 50%;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}